/*
 ________  _________    ___    ___ ___       _______      
|\   ____\|\___   ___\ |\  \  /  /|\  \     |\  ___ \     
\ \  \___|\|___ \  \_| \ \  \/  / | \  \    \ \   __/|    
 \ \_____  \   \ \  \   \ \    / / \ \  \    \ \  \_|/__  
  \|____|\  \   \ \  \   \/  /  /   \ \  \____\ \  \_|\ \ 
    ____\_\  \   \ \__\__/  / /      \ \_______\ \_______\
   |\_________\   \|__|\___/ /        \|_______|\|_______|
   \|_________|       \|___|/                             
                                                  
*/

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h2 {
  text-transform: capitalize;
  font-size: 2em;
}


a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.733);
}

#tableMotus {
  margin-left: auto;
  margin-right: auto;
}
td {
  text-align: center;
  width: 80px;
  height: 80px;
}

.O {
  background-color: red;
}
.N {
  background-color: yellow;
}
.G {
  background-color: rgb(75, 75, 75);
}
.F {
  background-color: rgb(191, 191, 191);
}

.td_gameBase {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  color: #010101;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: bold;
}

#buttonZone {
  text-align: center;
  padding: 5px;
  background-color: #079e67;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#ModalContentResult {
  width: 30%;
}

#textModal {
  text-align: center;
}

#tableResult_cookie {
  border: 5px dotted #00ff1e;
  border-radius: 8px;
}

#tableResult_localstorage {
  border: 5px dotted #3300ff;
  border-radius: 8px;
}

.resultCell {
  background-color: rgb(226, 140, 140);
  text-align: center;
  color: #010101;
  text-transform: capitalize;
  font-weight: bold;
  width: 20%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  margin: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .abase {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .abase:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover:enabled .dropbtn:enabled {
  background-color: #3e8e41;
}

.dropbtn:disabled {
  background-color: #215f23;
  color: #bbbbbb;
}
